@import "reset.scss";

@font-face {
    font-family: "Outsmile";
    src: url(fonts/Outsmile_Signature.otf);
}

$primary-color: #282828;
$secondary-color: rgba(144, 241, 226, 0.4);

@mixin mq-large {
    @media (min-width: 3000px) {
        @content;
    }
}
@mixin mq-medium {
    @media (max-width: 1000px) { 
        @content; 
    }
}
@mixin mq-smaller {
    @media (max-width: 760px) { 
        @content; 
    }
}
@mixin mq-small {
    @media (max-width: 620px) { 
        @content; 
    }
}
@mixin mq-mobile {
    @media (max-width: 485px) { 
        @content; 
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.09em;
    line-height: 1.3;
    overflow-x: hidden;

    @include mq-large {    
        font-size: 30px;
    }

    @include mq-medium {    
        font-size: 18px; 
    }
}
a {
    text-decoration: none;
}
.bg-text h3 {
    font-family: "Outsmile";
    color: $secondary-color;
    font-size: 200px;
    text-align: center;

    @include mq-large {    
        font-size: 250px;
    }

    @include mq-medium {    
        font-size: 150px; 
    }
    @include mq-smaller {    
        font-size: 100px;  
        line-height: 1.05;
    }
}
p.bold {
    font-weight: 700;
    text-transform: uppercase;
}
header {
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;

    @include mq-large {    
        padding: 4rem !important;
    }

    a.header-logo {
        width:140px;
        @include mq-smaller {    
            font-size: 18px; 
        }
    }
    a.reveal {
        width: 22px;
        display:none;
        z-index: 500;
        cursor: pointer;
        @include mq-small {    
            display: block; 
        }
    }

    nav {
        @include mq-small {    
            display: none; 
        }
        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
            margin-left: 30px;

            @include mq-large {    
                font-size: 30px;
            }

            @include mq-smaller {    
                font-size: 18px; 
            }
        }
    }
}
.menu-full {
    position: fixed;
    background-color: #282828;
    width: 100vw;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    opacity: 0;
    z-index: -1;

    nav {
        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.menu-full.visible {
    opacity: 1;
    z-index: 100;
}

section.intro {
    height: 100vh;
    
    div.hero {
        background-image: url(images/Header_Ohne_Logo.png);
        background-position: center;
        background-size: cover;
        height: 100vh;

        img {
            width: 800px;
            margin-top: 84px;

            @include mq-large {    
                width: 1800px; 
            }

            @include mq-medium {    
                width: 700px; 
            }

            @include mq-smaller {    
                width: 500px; 
            }
            @include mq-small {    
                width: 320px;  
            }
        }
    }
}

section.team {

    @include mq-smaller {
        padding-top: 6rem;
    }
    .copy {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 40vw;

        @include mq-medium {    
            width: 50vw; 
         }

         @include mq-smaller {    
            width: 60vw;  
        }
        @include mq-small {    
            width: 85vw;  
        }

        h2 {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p {
            margin-top: 20px;
        }
    }
    .bg-text {
        position: absolute;
        top: 0;
        z-index: -1;
        left: -25vw;

        @include mq-large {    
            left: -5vw;
        }

        @include mq-smaller {    
            left: 0; 
        }
    }
    .team-img {

        @include mq-smaller {    
            flex-wrap: wrap; 
        }

        .team-member {
            margin-left: 20px;
            margin-right: 20px;

            @include mq-smaller {    
                margin-bottom: 40px;
                margin-left: 0;
                margin-right: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            img {
                @include mq-medium {    
                    width:100vw;
                }
            }

            .team-desc {
                @include mq-medium {    
                    margin-top: 20px;
                }
            }
        }
    }
}

.first-grid,
.second-grid {
    background-color: $primary-color;
}

.first-grid {
    @include mq-large {    
        min-height: 50vh;
    height: 50vh;
    }
    @include mq-medium {    
        flex-direction: column; 
    }
    .grid-img {
        @include mq-large {    
            min-height: 50vh;
        height: 50vh;
        }
        @include mq-medium {    
            width:100vw;
        }
        @include mq-smaller {    
            padding: 6rem 2rem 6rem 2rem; 
        }
        .contact-copy {
            color: #fff;
            position: relative;
            h2 {
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            p {
                margin-top: 20px;
                z-index: 5;
            }
            .bg-text {
                position: absolute;
                bottom: -150px;
                left: 50%;
                transform: translateX(-50%);
                @include mq-medium {    
                    top: 50%;
                    left: 50%;
                }
            }

            @include mq-large {    
                padding: 10rem;
            }
        }
    }
    .grid-img-2 {
        background-image: url(images/Raum_Platzhalter.jpg);
        background-position: center;
        background-size: cover;
        @include mq-large {    
            min-height: 50vh;
        height: 50vh;
        }
        @include mq-medium {    
            width:100vw; 
        }
    }
}
.second-grid {
    @include mq-large {    
        min-height: 50vh;
    height: 50vh;
    }
    @include mq-medium {    
        flex-direction: column; 
    }
    .grid-img {
        @include mq-large {    
            min-height: 50vh;
        height: 50vh;
        }
        @include mq-medium {    
            width:100vw; 
        }
        @include mq-smaller {    
            padding: 3rem; 
        }
        .copy {
            color: #fff;
        position: relative;
        @include mq-smaller {    
            padding: 160px 20px; 
        }
        h2 {
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p {
            margin-top: 20px;
            z-index: 5;
            margin-bottom: 50px;
        }
        .button {
            border: solid 2px #fff;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            padding: 8px 24px;
            transition: all ease .3s;
            -webkit-transition: all ease .3s;
            z-index: 50;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
      }
      .bg-text {
          position: absolute;
         bottom: 40%;
         left: 55%;
         transform: translateX(-50%);
         line-height: 1;
    }
}
    .grid-img-2 {
        background-image: url(images/Frisur_Haarraum.jpg);
        background-position: center;
        background-size: cover;
        @include mq-large {    
            min-height: 50vh;
        height: 50vh;
        }
        @include mq-medium {    
            width:100vw; 
        }
        @include mq-smaller {
            order: 2;
        }
    }
}

.third-grid {
    background-color: #eee;
    @include mq-large {    
        min-height: 50vh;
    height: 50vh;
    }
    @include mq-medium {    
        flex-direction: column; 
    }
    .grid-img {
        background-image: url(images/Bild_Kontakt_Platzhalter.jpg);
        background-position: center;
        background-size: cover;
        @include mq-large {    
            min-height: 50vh;
        height: 50vh;
        }
        @include mq-medium {    
            width:100vw; 
        }
        @include mq-smaller {    
            padding: 3rem; 
        }
        .contact-copy {
            color: #fff;
            h2 {
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            p {
                margin-top: 20px;
                z-index: 5;
            }
        }
    }
    .grid-img-2 {
        @include mq-large {    
            min-height: 50vh;
        height: 50vh;
        }
        @include mq-medium {    
            width:100vw; 
        }
    }
}

section.hours {
    .copy {
        justify-content: flex-end;
        position: relative;

        @include mq-smaller {    
            display: block;
            padding-right: 0;
        }
        h2.desktop-headline {
            margin-right: 60px;
            text-transform: uppercase;
            @include mq-smaller {    
                display:none;
            }
        }
        h2.mobile-headline {
            margin-bottom: 20px;
            text-transform: uppercase;
            display:none;
            @include mq-smaller {    
                display:inline-block;
            }
        }
        .days {
            z-index: 50;
            @include mq-smaller {    
                width: 80vw;
                margin: auto;
            }
        }
        .day {
            border-bottom: solid 1px #000;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .first {
            padding-top: 0;
        }
        .note {
            margin-top: 15px;
        }
        .bg-text {
            position: absolute;
            left: 100px;

            @include mq-large {    
               left: 45%;
            }

            @include mq-medium {    
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%); 
            }
        }
    }
}

footer {
    background-color: $primary-color;

    a.link {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        margin-right: 50px;
        @include mq-smaller {    
            margin-right: 20px;
        }
    }

    nav {
        a img {
            width: 22px;
            margin-left: 5px;
            margin-right: 5px;
            @include mq-large {    
                width: 32px;
            }
        }
    }
}

section.policy {
    margin-top: 190px;
    margin-bottom: 100px;

    @include mq-medium {    
        margin-top: 90px;
        padding: 3rem;
        flex-direction: column;
    }
    .copy {
        @include mq-medium {    
            width:100%;
        }
    }
    p {
        margin-bottom: 20px;
        overflow-wrap: break-word;
    }
}